
.descriptionspage7 {
  font-size: 1.30rem !important; /* Slightly smaller font size for the description */
  color: rgb(44, 41, 41); /* Different color to distinguish from the name */
  margin-top: -2rem !important;
  padding-left: 50px;

}
@media (max-width: 991px) {
  .descriptionspage7 {
    text-align: center;
    padding:1rem;
  }
}
.description7{
  font-size: 1.195rem; /* Slightly smaller font size for the description */
  color: rgb(44, 41, 41); /* Different color to distinguish from the name */
   
  margin-left: 2rem;  
}

.page7description {
  display: flex;
  /* align-items: center;     Align items vertically in the center */
  align-items: center;
}

.new-connection-btns-1{
  background-color: #007bff;
  color: #fff;
  /* width: auto; */
  border: none;
  padding: 12px;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: bolder;
  /* padding: 0.5rem 0.25rem;  */
  max-width: auto;
}
.page7containers{
  
  /* border: 2px solid rgb(107, 120, 231);  */

  
  display: flex;
  /* justify-content: space-between; */
  

  align-items:top;
  height: auto;
  margin-top: 3rem;
  /* margin-left: 3rem; */
  padding: 2rem;
  /* overflow-y: auto; */

}
/* .page7containerA{
     
  width: 35%;
  padding: 1rem;
  margin-top: 3rem;
  height: 30rem;
  border: 2px solid rgb(107, 120, 231);

  margin-left: 2rem;
  margin-right: 2rem;
  
  overflow-y: auto;
  
} */


/* .page7publicresources, .page7containerB {
  flex: 1;
  padding: 10px;
} */

.notvisible{
  width: 35%;
  /* border: 2px solid rgb(107, 120, 231); */

  
}
.page7publicresource{
     
  /* width: 80%; */
  padding: 1rem;
  margin-top: 3rem;
  height: 20rem;
  max-height: 20rem;
  border: 2px solid rgb(107, 120, 231);

  /* margin-left: 2rem; */
  /* margin-right: 2rem; */

  overflow-y: auto;
  
} 
#conntent {
  flex: 1;
  margin-right: 20px;
}
.page7resource{
  border: 2px solid rgb(107, 120, 231);
  font-size: 1.25rem;
    font-weight: 600;
    text-decoration: underline;
  color:black;
  padding: 1rem;
  margin: 1rem;
}
#page7nores{
  font-size: 1rem;
  font-weight: 300;
}
.page7resource:hover{
  color: red;
  cursor: pointer;
} 

.page7containersB{
     margin-top: 3rem;
  width: 80%;
  padding: 1rem;
  
  height: 30rem;
  max-height: 30rem;
  border: 2px solid rgb(107, 120, 231);
  /* margin-left: 15rem; */
  overflow-y: auto;
  font-size: 1.5625rem;
    font-weight: bolder;
  
  
}

.page7myconnection{
  display: flex;
  justify-content: space-between; /* Space between content and tracker button */
  align-items: center;
  padding: 1rem;
  /* margin: 2rem 1rem; */
  border: 2px solid rgb(107, 120, 231);
  background-color: #f9f9f9;
}


.page7myconnections .tracker {
  margin-left: 2rem; /* Space between content and tracker */
}


/* .tracker button {
  padding: 0.5rem;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
} */
/* .tracker {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.tracker button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
} */

.page7publicresource,.page7containerB p{
  font-size: 1.5625rem;
  
  font-weight: bolder;
}
#noconnfound{
  font-size: small;
  font-weight: 400;
}

.not-found{
  font-size: medium;
  font-weight: 400;
}

#availconntype{
  font-size: 0.75rem;
  font-weight: 500;
}

.clickable-tag {

  text-decoration: underline;
  color: blue;
  font-size: 1.25rem;
  flex: 1;
  margin-left: 1 rem;
}

.clickable-tag:hover {
  color: #0056b3;
}

.info-button1 {
  background-color: white; 
  color: black; /* Black text color */
  border: 2px solid black; /* Black border */
  border-radius: 50%; /* Round shape */
  padding: 0.5rem; /* Padding to ensure size */
  cursor: pointer; /* Pointer cursor on hover */
  display: inline-flex; /* Center the "i" within the circle */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Align items horizontally */
  width: 2rem; /* Width to make it circular */
  height: 2rem; /* Height to make it circular */
  font-size: 1rem; /* Font size of the "i" */
  /* Adjust the spacing as needed */
}

.info-button:hover {
  background-color: #333; /* Darker background on hover */
  color: white; /* White text color on hover */
}