@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
}

.App{
    overflow-y: auto;
    max-height: 100vh;
}
.breadcrumbs {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #f4f4f4;
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: bold;
    /* align-items: right; */
  }
  
  .breadcrumb-item {
    color: #0056b3;
    text-decoration: none;
    padding: 0 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .breadcrumb-item:hover {
    text-decoration: underline;
  }
  
  .breadcrumb-separator {
    font-size: 12px;
    color: #aaa;
    padding: 0 4px; /* Add spacing for small screens */
  }
  
  .home-icon {
    margin-right: 5px;
  }
  
  .breadcrumb-item.current {
    color: #787878;
    font-weight: bold;
    cursor: default;
    text-decoration: none;
  }

  .locker-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    padding: 10px 20px;
  }
  
  .locker-text {
    text-align: right;
    margin-bottom: 5px;
  }
  
  .locker-name {
    font-size: 16px;
    font-weight: bold;
  }
  
  .locker-description {
    font-size: 14px;
    color: #555;
  }
  
  /* Responsive styles for smaller screens */
  @media (max-width: 600px) {
    .breadcrumbs {
      flex-wrap: wrap; /* Allow breadcrumbs to wrap to a new line if needed */
      font-size: 12px; /* Reduce font size */
      padding: 8px; /* Slightly reduce padding */
    }
  
    .breadcrumb-item {
      padding: 2px 4px; /* Adjust padding for smaller spacing */
    }
  
    .breadcrumb-separator {
      display: inline-block; /* Keep separators visible */
      font-size: 10px; /* Reduce size for better fit */
      padding: 0 2px; /* Compact the space around the separator */
    }
  
    .breadcrumbs > .breadcrumb-item,
    .breadcrumbs > .breadcrumb-separator {
      white-space: nowrap; /* Prevent wrapping within individual items */
    }
  }
 

  .btn-color {
    background-color: #0d6efd !important;
    font-weight: bold !important;
    color: #ffff !important;
  }
  
  .btn-color:hover {
    background-color: #0b5ed7 !important;
  }

  .subbutton{
    background-color: white !important;
    color: #0d6efd !important;
    border: 2px solid #0d6efd !important;
  }

  .subbutton:hover{
    background-color: #0d6efd !important;
    color: #ffff !important;
    
  }