/* General Styles */
.navbarLockerName, .navbarLockerOwner {
    font-weight: bolder;
    font-size: 1.5625rem;
    margin-left: 2rem;
  }
  
  .descriptionLocker {
    margin: 3rem; 
    font-size: 1.195rem;                          
  }
  
  .permission-label input{
    width: 20px; /* Increase the width of the checkbox */
    height: 20px; /* Increase the height of the checkbox */
    margin-right: 15px; /* Increase space between checkbox and label text */
    margin-left: 5rem;
  }
  
  .parent-left-heading-title{
    margin: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
  
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .obligation-label span {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  
  /* Container Styles */
  .connectionTerms-heroContainer {
    /* border: 2px solid rgb(107, 120, 231); */
    /* display: flex; */
    /* padding: 1rem; */
    margin: 2rem;
    /* justify-content: center; */
    align-items: flex-start;
    flex-direction: column;
  }
  
  /* Flexbox Container for Left and Right Columns */
  .parent-container {
    display: flex;
    
    justify-content: space-between;
    width: 100%;
  }
  
  /* Left Column Styles */
  .parent-left-heading {
    padding: 1rem;
    width: 100% !important;
    margin-right: 2rem;
    border: 2px solid rgb(107, 120, 231);
  }
  
  .parent-left-heading .connectionTerms-lockerForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .obligation-label {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .permission-labels {
    display: inline-block;
    width: 35rem;
  }
  
  .parent-left-heading .connectionTerms-lockerForm span {
    flex: 0 0 15%;
  }
  
  .parent-left-heading .connectionTerms-lockerForm input{
    padding: 0.5rem;
    border: 2px solid rgb(107, 120, 231);
    border-radius: 0.25rem;
    width: 65%;
    box-sizing: border-box; 
  }
  
  .parent-left-heading .connectionTerms-lockerForm select {
    padding: 0.5rem;
    border: 2px solid rgb(107, 120, 231);
    border-radius: 0.25rem;
    width: 80%;
    box-sizing: border-box; 
  }
  
  /* Right Column Styles */
  .parent-right-heading {
    border: 2px solid rgb(107, 120, 231);
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding: 1rem;
    align-items: center;
  }
  
  
  .obligation-button {
    /* margin-left: 25%;  */
    
    align-items: center;
    padding: 0.5rem; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #f0f0f0; 
    cursor: pointer; 
    color: black;
    width: 50%;
  }
  
  .handle-obligation{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: bolder; 
    width: 20%;
  }
  
  
  /* Common Heading Styles */
  .connectionTerms-resourceHeading {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }
  
  
  .main-heading{
    display: block;
    /* border: 1px solid #000;  */
    font-size: 1.5rem;
    margin: 0 auto;
    font-weight: bold;
    margin-bottom: 0.10rem;
   
  }
  
  
  /* Button Styles */
  .connectionTerms-btn {
    display: flex;
    gap: 1rem;
  }
  
  .remove-obligation-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: bolder;
  }

  button{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: bolder;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Tooltip Styles */
  .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 0.5rem;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 12.5rem;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 0.3125rem;
    padding: 0.625rem;
    position: absolute;
    z-index: 1;
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-weight: normal;
    font-size: 0.875rem;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  
  }
 
  /* CSS for name and description above obligation */
  .obligation-label, .connectionTerms-heroContainer .obligation-label {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.connectionTerms-heroContainer .obligation-label span, 
.parent-left-heading .obligation-label span {
    flex: 0 0 120px;  
    /* text-align: right;  */
    /* padding-right: 0.5rem;  */
}

.connectionTerms-heroContainer .obligation-label input, 
.parent-left-heading .connectionTerms-lockerForm input,
.connectionTerms-heroContainer .obligation-label select, 
.parent-left-heading .connectionTerms-lockerForm select {
    padding: 0.5rem;
    border: 2px solid rgb(107, 120, 231);
    border-radius: 0.25rem;
    flex: 1;  
    box-sizing: border-box;
}

.connectionTerms-heroContainer{
  margin-top: 0px;
}

@media (max-width: 768px) {
  #connectionTerms {
    overflow-x: hidden;
  }
}

#connectionTerms .connectionTermsContainer{
  border: 2px solid rgb(107, 120, 231);
  margin-top: 120px;
  margin-left: 10px;
  margin-right: 10px;
}

.secondContainer{
  padding:30px;
}

#connectionTerms .main-heading{
  text-align: center;
}

#connectionTerms label{
  font-weight: bold;
  font-size: 18px;
}

#connectionTerms input{
  width: 98%;
}

#connectionTermHost .agreeLabel{
  font-weight: normal !important;
}