/* General Styles */
.navbarLockerName-terms, .navbarLockerOwner-terms {
  font-weight: bolder;
  font-size: 1.5625rem;
  /* margin-left: 20rem; */
}

.descriptionLocker {
  margin: 3rem; 
  font-size: 1.195rem;                          
}

.permission-label input{
  width: 20px; /* Increase the width of the checkbox */
  height: 20px; /* Increase the height of the checkbox */
  margin-right: 15px; /* Increase space between checkbox and label text */
  margin-left: 5rem;
}

.parent-left-heading-title{
  margin: 2rem;
  display: flex;
  justify-content: space-between;

}
/* Container Styles */
.connectionTerms-heroContainer-nonglobal {
  border: 2px solid rgb(107, 120, 231);
  display: flex;
  padding: 2rem;
  margin: 1rem;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* margin-left: 320px; */
  margin-top: auto;
}

/* Flexbox Container for Left and Right Columns */
.parent-container {
  display: flex;
  
  justify-content: space-between;
  width: 100%;
}

/* Left Column Styles */
.parent-left-heading {
  padding: 1rem;
  width: 95%;
  margin-right: 2rem;
  border: 2px solid rgb(107, 120, 231);
}

.parent-left-heading .connectionTerms-lockerForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.obligation-label {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.permission-labels {
  display: inline-block;
  width: 35rem;
}

.parent-left-heading .connectionTerms-lockerForm span {
  flex: 0 0 15%;
}

.parent-left-heading .connectionTerms-lockerForm input{
  padding: 0.5rem;
  border: 2px solid rgb(107, 120, 231);
  border-radius: 0.25rem;
  width: 65%;
  box-sizing: border-box; 
}


#connectionTerm input{
  width: 84%;
}

#connectionTerm .templete{
  width: 5%;
}

.parent-left-heading .connectionTerms-lockerForm select {
  padding: 0.5rem;
  border: 2px solid rgb(107, 120, 231);
  border-radius: 0.25rem;
  width: 80%;
  box-sizing: border-box; 
}

/* Right Column Styles */
.parent-right-headings {
  border: 2px solid rgb(107, 120, 231);
  width: 45%;
  /* display: flex; */
  flex-direction: column;
  gap: 10px; 
  padding: 1rem;
  align-items: center;
}


.obligation-buttons {
  /* margin-left: 25%;  */
  
  align-items: center;
  padding: 0.4rem; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  background-color: #f0f0f0; 
  cursor: pointer; 
  color: black;
  width: 100%;
}

.obligation-buttons:hover{
  background-color:  #007bff;;
  color: #fff;
}

.handle-obligation{
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: bolder; 
  width: 20%;
}


/* Common Heading Styles */
.connectionTerms-resourceHeading {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}


.main-heading{
  display: block;
  /* border: 1px solid #000;  */
  font-size: 1.5rem;
  margin: 0 auto;
  font-weight: bold;
  margin-bottom: 3rem;
 
}


/* Button Styles */
.connectionTerms-btn {
  display: flex;
  gap: 1rem;
}

 /* button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: bolder;
} */

/* button:hover {
  background-color: #0056b3;
} */

/* Tooltip Styles */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 0.5rem;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 12.5rem;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  position: absolute;
  z-index: 1;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-weight: normal;
  font-size: 0.875rem;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;

}
@media (max-width: 768px) {
  #connectionTerm {
    overflow-x: hidden;
  }
}

#connectionTerm .connectionTermsContainer{
  border: 2px solid rgb(107, 120, 231);
  margin-top: 120px;
  margin-left: 10px;
  margin-right: 10px;
}

.secondContainer{
  padding:30px;
}

#connectionTerm .main-heading{
  text-align: center;
}

#connectionTerm label{
  font-weight: bold;
  font-size: 18px;
}

#connectionTerm .agreeLabel{
  font-weight: normal;
}


@media (max-width: 768px) {
  #connectionTermHost {
    overflow-x: hidden;
  }
}

#connectionTermHost .connectionTermsContainer{
  border: 2px solid rgb(107, 120, 231);
  margin-top: 120px;
  margin-left: 10px;
  margin-right: 10px;
}

.secondContainer{
  padding:30px;
}

#connectionTermHost .main-heading{
  text-align: center;
}

#connectionTermHost label{
  font-weight: bold;
  font-size: 18px;
}

#connectionTermHost .agreeLabel{
  font-weight: normal;
}

#connectionTermHost input{
  width: 84%;
}

#connectionTermHost .templete{
  width: 5%
}

#connectionTerm .modalWidth .modals {
  width: 30%;
}

@media (max-width: 1183px) {
  #connectionTerm .modalWidth .modals {
    width: auto;
  }
}

#connectionTermHost .modalWidth .modals {
  width: 30%;
}

@media (max-width: 1183px) {
  #connectionTermHost .modalWidth .modals {
    width: auto;
  }
}