   .content {
    margin-left: 300px;
  }

  .content h2{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 1.87em;
  }
  
  .add, .remove {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .add label, .remove label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  
  .add, .remove {
    display: flex;
    flex-direction: column;
    align-items: center; /* to center elements horizontally */
  }
  
  .add select, .remove select {
    display: block;
    margin-top: 10px;
    padding: 10px;
    width: 45%;
    font-size: 1.3rem;
  }
  
  .add button, .remove button {
    margin-top: 10px;
    padding: 10px;
    width: 17%;
    font-size: 1.2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add button:hover, .remove button:hover {
    background-color: #0056b3;
  }
  