.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding: 0.5rem 1rem;
}

.navbar-brand{
  font-weight:bolder;
  margin-left: 2rem;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links a {
  color: black;
  text-decoration: none;
  font-weight:bolder;
  margin: 0 2rem;
}

.navbar-links img{
  height: 50px;
  width: auto;
}

.hero-container{
  margin-top: 8rem;
  margin-left: 5rem;
  width: 50%;
}

.new-locker{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.new-locker button{
  background-color: rgb(0, 140, 255);
  color: white;
  overflow: hidden;
  border-radius: 12px;
}

.docs, .education {
  border: 2px solid rgb(107, 120, 231);
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
}

button{
  font-weight:bolder;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.locker-box {
    border: 2px solid rgb(107, 120, 231);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}