.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding: 0.5rem 1rem;
  }

  .navbar-brand{
    font-weight:bolder;
    margin-left: 1rem;
    display: flex;
  }

  .navbar-links {
    list-style: none;
    display: flex;
  }

  .navbar-links a {
    color: black;
    text-decoration: none;
    font-weight:bolder;
    margin: 0 2rem;
  }

  .navbar-brand img{
    height: 60px;
    width: auto;
    margin-right: 2rem;
  }
  

  .navbar-links img{
    height: 50px;
    width: auto;
  }

  .hero-container{
    margin-top: 3rem;
    margin-left: 5rem;
  }

  .new-connection {
    display: flex;
    justify-content: space-between; /* Align button to the right */
    margin-bottom: 2rem; /* Add margin to the bottom */
  }
 
  .new-connection button{
    font-weight:bolder;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 20%;
    margin-right: 3rem;
  }

  .nav-info-link{
    list-style: none;
  }

  .info{
    
  }


  .card{

    margin-top: 3rem;
    border: 2px solid blue;
  }

  .card h3{
    padding: 10px;
  }

  .card-list{
    text-align: center;
    list-style: none;
  }


  .connections{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
  }


  .public-resources {
    background-color: white;
    border: 2px solid blue;
    padding: 20px;
    height: 350px;
    width: 15%;
    margin: 2rem;
  }

  /* .public-resources button{
    font-weight:500;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 100%;
    margin-right: 3rem;
    font-size: 16px;
  } */

  .my-connections{
    background-color: white;
    border: 2px solid blue;
    padding: 20px;
    width: 50%;
    height: 350px;
    margin: 2rem;
  }

  /* .my-connections button{
    font-weight:500;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 50%;
    margin-right: 3rem;
    font-size: 16px;
  } */

  .my-connections a{
    font-weight: 500;
    font-size: 16px;
    padding: 0.5rem 1rem;

  }

  .public-resources a{
    font-weight: 500;
    font-size: 16px;
    padding: 0.5rem 1rem;

  }