body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    /* //background-color: whitesmoke; */
    overflow: hidden; /* Ensure the container clears the floated items */
    padding: 10px 0;
}

.nav-item {
    color: black;
    /* //float: left;
    //padding: 14px 16px; */
    /* text-align: center; */
    text-decoration: none;
   /* // width: 33.33%; 
    //box-sizing: border-box;  */

}
#nav1{
    width: 70%;
    text-align: center;
    float: left;
    font-size: 50px;
    font-weight: 600;
    font-family: sans-serif;
    /* // border: 1px solid red; */
     margin-top: 100px;    
}

#nav2{
    width: 14%;
    text-align: left;
    
    float: right;
    margin-left:20px;
    /* //margin-top: 30px; */
    

}
#nav3{
    width: 14%;
    float: right;
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
}
.nav-img{
    height: 130px;
    width: 130px;
    text-align: right;
}

#nav-text{
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
}

#nav2-1:hover {
    background-color: #ddd;
    color: red;
}
#nav3:hover {
    background-color: #ddd;
    color: red;
    cursor: pointer;
}
#nav2-1{
    font-size: 30px;
    float: left;
    margin-top: 30px;
}
#nav2-2
{
    margin-left: 20px;
    

}

.underline{
    background-color: purple;
    width: 1100px;
    height: 10px;
    margin-left: 100px;
}

.button{
    background-color: lightgrey;
    color: black;
    font-size: 24px;
    font-weight: 700;
    width: 240px;
    /* border-radius: 30px; */
    padding: 10px;
    text-align: center;
    margin-left: 190px;
}
.button:hover{
    background-color: blue;
    cursor: pointer;
}
.imp-text{
    text-decoration: underline;
    font-size: 30px;
}
.out-text{
   font-size: 40px;
   font-weight: 800;
   font-family: sans-serif;
   margin-left: 750px;
}
.inner-text{
    font-size: 30px;
    font-weight: 600;

}
.parent1{
    float: left;
    border: 1px solid blue;
    margin-left: 100px;
    padding: 40px;
    width: 700px;
    
}
.parent2{
    float: right;
    border: 1px solid blue;
    margin-right: 100px;
    padding: 40px;
    width: 700px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* .container{
    //border: 1px solid blue;
} */
.headings{
    background-color: blue;
    color: white;
    width: 160px;
    height: 120px;
    display: inline-block;
    margin-bottom: 0px;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 800;
    word-wrap: break-word; 
    padding-top: 10px;
    padding-left: 10px;
    vertical-align: top;
}
.table-heading{
    margin: 0;
}
.headings.second{
    background-color: lightblue;
    color: black;
}
.headings.third{
    background-color: lightgrey;
    color: black;
}
.locker{
    margin-left: 280px;
    font-size: 24px;
}